{{! Previous/next page links - only displayed on page 2+ }}

{{! This is the post loop - each post will be output using this markup }}
<ul class="post-list">
{{#foreach posts}}
<li>
    <article class="{{post_class}}">
        <a href="{{url}}">{{{title}}} <span class="entry-date"><time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">{{date format="MMMM DD, YYYY"}}</time></span></a>
    </article>
</li>
{{/foreach}}
</ul>
{{! Previous/next page links - displayed on every page }}

{{pagination}}
