{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

{{! The big featured header }}


{{! The main content area on the homepage }}
<main id="content" class="content frontpage" role="main">
    <article class="entry">
        <header class="entry-header">
            <h1 class="entry-title">Latest Posts</h1>
        </header>
    
    {{! The tag below includes the post loop - partials/loop.hbs }}
        {{> "loop"}}
    </article>

</main>