{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

{{! Everything inside the #post tags pulls data from the post }}
{{#post}}

<header class="main-header post-head {{#if image}}" style="background-image: url({{image}}){{else}}no-cover{{/if}}">
    <!--<nav class="main-nav {{#if image}}overlay{{/if}} clearfix">
        <a class="back-button" href="{{@blog.url}}">Home</a>
    </nav>-->
</header>



<main class="content" role="main">

    <article class="{{post_class}}">

        <header class="entry-header">
            <h1 class="entry-title">{{title}}</h1>
            
        </header>

        <footer class="post-footer">

        {{! Everything inside the #author tags pulls data from the author }}
        
            {{#author}}
            {{#if image}}
            
            <figure class="author-image">
                <a class="img" href="{{url}}" style="background-image: url({{image}})"><span class="hidden">{{name}}'s Picture</span></a>
            </figure>
            
            {{/if}}
            {{/author}}

            <section class="post-meta">
                {{#author}}
                <div>By {{name}}</div>
                {{/author}}
                <div><time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMMM YYYY"}}</time>
                </div>
                <div>
                    {{tags}}
                </div>
            </section>

        

            <section class="share">
                <h4>Share this post</h4>
                <a class="icon-twitter" href="https://twitter.com/share?text={{encode title}}&amp;url={{url absolute="true"}}"
                    onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
                    <span class="hidden">Twitter</span>
                </a>
                <a class="icon-facebook" href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}"
                    onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;">
                    <span class="hidden">Facebook</span>
                </a>
                <a class="icon-google-plus" href="https://plus.google.com/share?url={{url absolute="true"}}"
                   onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;">
                    <span class="hidden">Google+</span>
                </a>
            </section>

        </footer>

        <section class="post-content">
            {{content}}
        </section>

        <div class="clearfix"></div>

    </article>

</main>

{{/post}}
