html{
	font-size: 16px;
}
body{
	font-family: source-sans-pro, sans-serif;
	color: #222;
	font-size: 1rem;
	font-size: 16px;
	line-height: 1.5;
	margin-bottom: 24px;
	margin-bottom: 1.5rem;
}
blockquote{
	font-family: volkhov, serif;
	font-style: italic;
	padding-left: 20px;
	border-left: 8px solid #000;
	font-size: 1rem;
	line-height: 1.5;
	margin: 0 0 1.5rem 0 ;

}
h1, h2, h3, h4, h5, h6 {
 	font-family: source-sans-pro, sans-serif;
 	font-weight: bold;
}
h1 {
	font-size: 36px;
	font-size: 2.25rem;
	line-height: 1.333;
}
h2 {
	font-size: 2rem;
}
h3 {
	font-size: 1.75rem;
	line-height: 1.71429;
	margin-bottom: 1.5rem;
}
a {
	text-decoration: none;
	color: #444;
}
a:hover {
	color: #222;
}
blockquote {
	font-size:16px;
	font-size:1rem;
 	line-height:1.5;
	padding-left: 20px;
	margin-bottom: 24px;
	line-height: 
}
p {
	font-size: 18px;
	font-size: 1.125rem;
	line-height: 1.55556;
	margin-bottom: 24px;
	margin-bottom: 1.5rem;
}
li {
	font-size: 16px;
	font-size: 1rem;
	line-height: 1.5;
	margin-bottom: 12px;
	margin-bottom: 0.75rem;
}
hr { 
	border: 0;
	border-bottom: 1px solid gray;
}
pre {
	background-color: #EFEFEF;
	font-family: "source-code-pro",monospace;
	color: #333332;
	margin-bottom: 1.5em;
	border-radius: 3px;
	padding: 1em;
}
p code, li code {
    font-size: 0.875rem;
    line-height: 1.71429;
    font-family: "source-code-pro",monospace;
    white-space: nowrap;
    margin: 0px 2px;
    padding: 0px 5px;
    border: 1px solid #E6E6E6;
    background-color: #F2F2F2;
    border-radius: 3px;
}

.entry-tags {
	display: block;
	margin-top: 2em;
	text-transform: uppercase;
	font-size: 16px;
	font-size: 1rem;
	line-height: 1.5;
	margin-bottom: 24px;
	margin-bottom: 1.5rem;
	font-weight: 600;
}

.content {
	max-width: 60em;
	margin: 0px auto 3em;
	padding-right: 1.618em;
	padding-left: 1.618em;
}
.frontpage.content {
	max-width: 47.5em; 
}
/**
Header
**/
.main-header {
    text-align: center;
}
.main-header-content {
	text-align: center;
}
.blog-logo img{ width: 200px; height: auto;}
.page-title { margin-bottom: 0;}
.page-description {
	font-family: volkhov, serif;
	font-style: italic;
	font-size: 20px;
	font-size: 1.25rem;
	margin-top:0;
	font-weight: normal;
}

.entry-title {
	font-family: "volkhov",serif;
	font-size: 4rem;
	font-weight: normal;
}

/**
Post list
**/
.post-list {
	padding:0;
}
.post-list li{
	padding: 8px 0px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	font-size: 1.125rem;
	line-height: 1.33333;
	margin-bottom: 0px;
	list-style: none;
}
.post-list li span {
	float:right;
	text-transform: uppercase;
}
.entry-date{
	font-size: 0.875rem;
	line-height: 1.71429;
	text-transform: uppercase;
}
.post .entry-header, .frontpage .entry-header { text-align: center}
.pagination {text-align:center;}

/**
Post
**/
.post .entry-title {
	margin-bottom: 1rem;
}
.post-footer{
	float:left;
	width: 22%;
	margin-right: 2%;
}
.post-content{
	float:left;
	width:76%;
}
.post-content img {

	width:100%;
	height:auto;
}

.author-image {
	margin: 18px 0 24px 0;
}
.author-image .img{
	width: 150px;
	height: 150px;
	background-size: cover;
	display:block;
	border-radius: 50%;
}
.post-meta > div{
	display: block;
	padding: 8px 0px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	font-size: 0.875rem;
	text-transform: uppercase;
}
/**
Footer
**/

.site-footer{
	color: #555;
	text-align: center;
	font-family: volkhov, serif;
	font-style: italic;
}
/**
utils
**/
.clearfix {clear:both;}
.hidden { visibility: hidden;}